{% extends 'base.html.twig' %}

{% block title %}AJouter une formes de boxe{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
            <h1>Ajouter une formes de boxe</h1>
            {% include "formedeboxe/_form.html.twig" %}
    </section>
</main>
{% endblock %}
