{% extends 'base.html.twig' %}

{% block title %}Administration de forme de boxe{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter une forme de boxe</h1>
                {% include "admin/licenciés/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}
